# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# macOS
.DS_Store

# Python test cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Build files
build/
dist/
*.egg-info/

# Logs
*.log